<template>
  <div class>
    <Navegacion />
    <hr>
    <div style="background-color: #000000" class=" container p-5 border border-warning rounded">
      <b-row class="">
        <div
          class="mt-4 mb-4"
          :key="index"
          v-for="(tag,index) in tagSpaces[$route.params.id - 1].tagSet"
        >
          <b-col>
            <h2>
              <b-badge variant="warning"># {{tag}}</b-badge>
            </h2>
          </b-col>
        </div>
      </b-row>
    </div>
    <b-row>
      <b-card-group deck>
        <div
          :key="index"
          v-for="(product,index) in productsByTags(tagSpaces[$route.params.id - 1].tagSet)"
        >
          <Product :product="product" />
        </div>
      </b-card-group>
    </b-row>
  </div>
</template>

<script>
import Product from "@/components/Product";
import Navegacion from "@/components/Navegacion";
import { mapGetters, mapState } from "vuex";

export default {
  name: "TagSpace",
  components: {
    Product,
    Navegacion
  },
  computed: {
    // ...mapGetters ({
    //   products: 'nuevos',
    //   tagSpaceById: 'tagSpace' //asi lo llamo en el store
    // }),
    ...mapState(["tagSpaces"]),
    ...mapGetters({
      products: "getProductById",
      productsByTags: "getProductByTagSet"
    })
  }
};
</script>

