<template>
  <div class="container-fluid ">
    <NewProduct />
    <Navegacion/>
    <b-row>
      <AllProducts />
    </b-row>
  </div>
</template>

<script>
import Product from "@/components/Product";
import TagSpace from "@/views/TagSpace";
import AllProducts from "@/components/AllProducts";
import NewProduct from "@/components/NewProduct";
import Navegacion from "@/components/Navegacion";
import { mapState } from "vuex";

export default {
  components: {
    Product,
    TagSpace,
    AllProducts,
    NewProduct,
    Navegacion
  },
  data() {
    return {
      
    };
  },
  computed: {
    ...mapState(['products','tagSpaces'])
  }
};
</script>
