<template>
  <div class="container">
    <b-card-group deck>
        <Product :product="product" v-for="(product,index) in products" :key="index"/>
    </b-card-group>
  </div>
</template>

<script>
import Product from './Product'
export default {
    name: 'AllProducts',
    components:{
      Product
    },
    computed:{
      products(){
        return this.$store.state.products
      }
    }
}
</script>

<style>

</style>