<template>
  <div>
      <div class="text-center">
      <b-badge variant="dark">
          <router-link :to="{name:'taguniverse'}">
        <b-badge variant="warning">
          <h1>
            <b-spinner variant="dark" label="Spinning"></b-spinner>Welcome to the Universe of Tags
            <b-spinner variant="secondary" label="Spinning"></b-spinner>
          </h1>
        </b-badge>
        </router-link>
      </b-badge>
    </div>
    <hr/>
    <b-row>
      <b-col :key="tagspace.id" v-for="tagspace in tagSpaces">
        <b-badge variant="dark">
          <router-link :to="{name:'tagspace', params:{ id: tagspace.id }}">
            <b-badge class="bg-dark text-white">
              <h3>
                Tag Space
                {{tagspace.id}}
              </h3>
            </b-badge>
          </router-link>
        </b-badge>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    name: 'Navegacion',
    computed:{
        ...mapState(['tagSpaces'])
    }
}
</script>

