<template>
  <div class="container">
    <b-button @click="showForm" class="mt-5 mb-5 bg-dark rounded">Nuevo Producto</b-button>
    <div v-if="show">
      <b-badge variant="dark" class="p-5 ml-5 mb-5">
        <b-form>
          <h1>Nuevo Producto</h1>
          <b-form-group
            id="input-group-1"
            label="Nombre:"
            label-for="input-1"
            description="Un buen nombre puede llamar la atención"
          >
            <b-form-input
              id="input-1"
              v-model="form.name"
              type="text"
              required
              placeholder="Ej: Laptop Lenovo i7 "
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Precio:" label-for="input-2">
            <b-form-input id="input-2" v-model="form.price" required placeholder="Ej: 530.40"></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="Descripcion:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.description"
              required
              placeholder="Ej: Perfecto estado, ningún detalle."
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Etiquetas:">
            <b-form-checkbox-group v-model="form.tagSet" id="checkboxes-4">
              <b-form-checkbox value="Genio Plus">Para Genios?</b-form-checkbox>
              <b-form-checkbox value="Buenardo">Buenardo?</b-form-checkbox>
              <b-form-checkbox value="Malardo">Malardo?</b-form-checkbox>
              <b-form-checkbox value="AmarlosPeroNoTango">Para los Chiquis?</b-form-checkbox>
              <b-form-checkbox value="Tremendaaa">tremendopolis??</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>

          <b-button @click="guardarProducto" variant="primary">Guardar</b-button>
        </b-form>
      </b-badge>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "NewProduct",
  methods: {
    showForm() {
      this.show = !this.show;
    },
    ...mapActions(["agregarProducto"]),
    guardarProducto() {
      this.agregarProducto(this.form);
      let somenumber = Math.floor(Math.random() * 1000)
      let somesrc = `https://picsum.photos/400/400/?image=${somenumber}`
      this.form = {
        price: null,
        name: "",
        tagSet: ['chiquis'],
        src: somesrc,
        new: true
      };
    }
  },
  data() {
    return {
      form: {
        price: null,
        name: "",
        tagSet: ['chiquis'],
        src: "https://picsum.photos/400/400/?image=233",
        new: true
      },
      show: false
    };
  }
};
</script>

<style>
</style>