<template>
  <div class="mt-5 ml-5">
    <b-card class="bg-dark border-dark rounded">
      <b-card-img class="rounded-circle d-flex border border-dark bg-danger" :src="product.src"></b-card-img>
      <hr>
      <b-card-body class="bg-secondary p-5 text-right rounded-bottom">
        <b-badge variant="dark" style="width: 100%">
          <b-badge variant="warning" style="width: 100%">
            <h2>{{product.name.toUpperCase()}}</h2>
          </b-badge>
        </b-badge>
        <hr />

        <b-card-text class="text-center">
          <h5>{{product.description}}</h5>
          <hr />
        </b-card-text>
        <b-card-text>
          <b-row>
            <b-col>
              <b-button variant="dark" @click="mostrar" v-if="mostrando" block pill>
                <h3>
                  <b>Comprar</b>
                </h3>
              </b-button>
              <b-button variant="dark" @click="mostrar" v-else block pill>
                <h3>
                  <b>vender</b>
                </h3>
              </b-button>
            </b-col>
            <b-col>
              <b-badge variant="outline-dark" @click="mostrar" v-if="mostrando">
                <b-badge variant="warning">
                  <h3>
                    <b>{{product.price}} USD</b>
                  </h3>
                </b-badge>
              </b-badge>
              <b-badge variant="outline-dark" @click="mostrar" v-else>
                <b-badge variant="warning">
                  <h3>
                    <b>{{product.price - 15 }} USD</b>
                  </h3>
                </b-badge>
              </b-badge>
            </b-col>
          </b-row>
        </b-card-text>
        <div class="text-center">
          <hr />Stock: Solo quedan
          <b>{{product.stock}}</b>
          Unidades
          <hr />
        </div>
        <b-card-text>
          <b-badge variant="dark" style="width: 100%">
            <h3>Etiquetas</h3>
            <h3 :key="index" v-for="(tag, index) of product.tagSet">
              <b-badge># {{tag}}</b-badge>
            </h3>
          </b-badge>
        </b-card-text>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mostrando: true
    };
  },
  name: "Product",
  props: ["product"],
  methods: {
    mostrar() {
      this.mostrando = !this.mostrando;
    }
  }
};
</script>
