<template>
  <div id="app" class="container-fluid" style="background-color: #000000">
    <div id="nav">
     
    </div>
    <router-view />
  </div>
</template>


<script>
export default {
  data() {
    return {}
  },
  methods: {
  }
}
</script>
